<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.com.mybatis.mapper.zj.Test003Mapper">

	<select id="testPageHelper" resultType="map">
		/*001.
		如果使用PageHelper插件，就千万不要再书写limit语句，因为PaegHelper不会删除你书写的语句中的Limit语句，就会导致语法错误：
		select * from user limit 1 LIMIT ?\r\n### Cause: java.sql.SQLSyntaxErrorException: You have an error in your SQL syntax; */
		select * from user
	</select>
</mapper>